/* --------- */
/* GENREAL RULES */
/* --------- */
* {
    box-sizing: border-box;
}

body {
    font-family: "Trip Sans";
    font-size: 16px;
}
.container {
    max-width: 1180px;
    margin: 10px auto;
    padding: 10px;
    /* overflow: hidden; */
}

.hidden {
    display: none;
}

/* .behindModal {
    display: ; */
/* mettre en none quand on appuy sur le bouton */
/* } */

/* --------- */
/* TITRES */
/* --------- */

h1 {
    font-size: 54px;
    color: #ff5d5d;
    font-weight: bold;
    margin-bottom: 30px;
}

h1 .city {
    color: black;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}

/* ------------- */
/* MODALE & OVERLAY -------*/
/* -------------- */

h4 {
    text-align: center;
    font-family: inherit;
    font-size: 20px;
}

.modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: lightgray;
    /* display: flex;  quand on appuy bouton*/
    display: none;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    height: 696px;
    justify-content: space-around;
    border-radius: 20px;
}

.modal input {
    height: 35px;
    padding: 10px;
    font-family: inherit;
}

.modal textarea {
    height: 200px;
    padding: 10px;
    font-family: inherit;
}

.modal button {
    font-family: inherit;
}

.backdrop {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* --------- */
/* HEADER*/
/* --------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 42px;
}

header nav {
    display: flex;
}

header nav div,
button {
    padding: 10px 15px;
    font-weight: bold;
}

header nav div:hover {
    background-color: lightgrey;
    border-radius: 20px;
}

header nav div:not(:last-child) {
    margin-right: 02px;
}

header nav div i {
    margin-right: 10px;
}

header button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
}

/* --------- */
/* MENU */
/* --------- */

.menu {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.menu div {
    border: solid black 1px;
    flex-shrink: 0;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.menu div span {
    padding-right: 10px;
    width: 85px;
    /* background-color: pink; */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .menu div i {
    background-color: yellow;
} */

.menu .hidden {
    display: none;
}

/* --------- */
/* PICTURES */
/* --------- */
.pictures {
    height: 430px;
    margin-top: 30px;
    display: flex;
    object-fit: cover;
}

.pictures .col-left {
    width: 60%;
    margin-right: 3px;
    background-image: url("../img/belfast_picture1.jpeg");
    background-position: center;
}

.pictures .col-right {
    width: 40%;
}

.pictures .col-right .up {
    height: 50%;
    margin-bottom: 3px;
    background-image: url("../img/belfast_picture2.jpeg");
    background-position: center;
}

.pictures .col-right .down {
    height: calc(50% - 3px);
    background-image: url("../img/belfast_picture3.jpeg");
    background-position: bottom;
}

/* --------- */
/* LINKS */
/* --------- */

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: inherit;
    font-size: 12px;
    color: rgb(68, 66, 66);
    margin-bottom: 40px;
}

.links a {
    font-size: 12px;
    color: rgb(68, 66, 66);
    font-family: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* --------- */
/* INFO AND MAP */
/* --------- */

.infoMap {
    display: flex;
    /* background-color: pink; */
    /* height: 400px; */
}

.infoMap .block_left {
    /* backgroun<-color: orange; */
    width: 62%;
}

.infoMap .block_right {
    width: 48%;
}

.infoMap .block_left article {
    margin-top: 20px;
    padding-right: 114px;
    font-size: 20px;
    color: rgb(36, 34, 34);
    font-weight: lighter;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.infoMap .block_right .up {
    background-color: #ff5d5d;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* height: 55%; */
}

.block_right .up button {
    margin-top: 30px;
    padding: 20px 15px;
    font-weight: lighter;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
}

.block_right .up button:hover {
    background-color: rgb(37, 36, 36);
}

.infoMap .block_right .down {
    /* background-color: yellow; */
    height: 45%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("../img/belfast_map.png");
    background-size: cover;
}
/* ----------------------------------------  */
/* <!-- IMMANQUABLES CARROUSEL  --> */
/* ----------------------------------------  */

/* ---------- */
/* RESPONSIVE */
/* ---------- */

@media (max-width: 1024px) {
    header nav div span {
        background-color: blue;
        display: none;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    header img {
        height: 35px;
    }
    .menu {
        grid-template-columns: repeat(4, 1fr);
    }

    .menu .hidden {
        display: flex;
    }

    .menu div span {
        width: 110px;
    }
}

@media (max-width: 768px) {
    .hidden {
        display: inherit;
    }
    header {
        justify-content: space-between;
    }
    h1 {
        font-size: 30px;
    }

    header nav {
        display: none;
    }
    .menu {
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}
